<div class="chart-card full mi-layout-3col" data-widget-id="mi-incremental-yoy" data-widget-label="Average Incremental YoY">
  <div class="mi-col-left">
    <h3 class="mi-chart-title">6. Average Incremental YoY</h3>
    <div class="mi-incr-yoy-controls">
      <label>Channel: <div id="mi-channel-incremental-yoy" class="mi-dropdown-container"></div></label>
      <label>Deep dive: <div id="mi-incremental-yoy-scope-select" class="mi-dropdown-container"></div></label>
    </div>
  </div>
  <div class="mi-col-center">
    <div class="chart-wrap chart-wrap-promo">
      <div class="chart-loading" data-chart-scope="incremental_yoy"><div class="chart-spinner"></div></div>
      <canvas id="chart-incremental-yoy"></canvas>
    </div>
  </div>
  <div class="mi-col-right" id="mi-incremental-yoy-info">
    <div class="mi-info-panel" id="mi-incremental-yoy-key-insight"></div>
  </div>
</div>
